/*=============================================================*/
/* HOME */
.wrapper-main{
    margin: 0;
    padding: 0;
    .home-leads{
        .home-registration-wrapper{
            position: relative;
            .home-registration-cover{
                img{
                    max-width: 100%;
                }
            }
        }
    }
    .home-info{
        padding: 20px 15px;
        h1{
            visibility: hidden;
            margin: 0;
            font-size: 0;
            height: 0;
        }
        .block-section{
            margin-bottom: 25px;
            @media screen and (min-width: $breakpoint-tablet){
                margin: 0 auto 25px;
                width: 80%;
                max-width: 1400px;
            }
            .title{
                color: #4E4E50;
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
                font-weight: 700;
                padding: 0px 0 30px;
                @media screen and (min-width: $breakpoint-tablet){
                    font-size: 26px;
                    padding: 15px 0 50px;
                }
            }
            .icon-boxes{
                .icon-box{
                    display: inline-block;
                    margin-bottom: 32px;
                    padding: 0;
                    width: 100%;
                    @media screen and (min-width: $breakpoint-tablet){
                        margin-bottom: 50px;
                        padding: 0 50px;
                        width: 48%;
                    }
                    .icon, .content{
                        display: inline-block;
                        vertical-align: top
                    }
                    .icon{
                        width: 18%;
                        @media screen and (min-width: $breakpoint-tablet){
                            width: 24%;
                        }
                        img{
                            display: block;
                            max-width: 100%;
                            width: auto;
                        }
                    }
                    .content{
                        padding-left: 12px;
                        text-align: left;
                        width: 80%;
                        @media screen and (min-width: $breakpoint-tablet){
                            padding-left: 20px;
                            width: 75%;
                        }
                        h4{
                            color: $color-azul;
                            font-family: 'Louis';
                            font-size: 22px;
                            font-weight: 400;
                            margin-bottom: 12px;
                            margin-top: 0;
                            @media screen and (min-width: $breakpoint-tablet){
                                font-size: 28px;
                            }
                        }
                        p{
                            color: #4E4E50;
                            font-family: 'Montserrat', sans-serif;
                            margin: 0;
                        }
                    }
                }
            }
        }
        .PQR-form{
            background-color: $color-blanco;
            margin: auto 0;
            padding: 0;
            position: relative;
            text-align: center;
            width: 100%;
            @media screen and (min-width: $breakpoint-tablet){
                padding: 10px;
            }
            form.pqr-form{
                font-family: 'Montserrat', sans-serif;
                /*TABLET PORT*/
                @media screen and (min-width: $breakpoint-tablet) and (orientation: portrait){
                    margin: 0 auto;
                    width: 70%;
                }
                input[type=text]{
                    background-color: transparent;
                    border-radius: 0;
                    border: 0 solid transparent;
                    border-bottom: 2px solid $color-gris;
                    color: $color-gris;
                    display: block;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    padding: 5px;
                    margin: 0;
                    width: 100%;
                }
                input[type=radio]{
                    margin: 0;
                }
                textarea{
                    background-color: transparent;
                    border-radius: 5px;
                    border: 2px solid $color-gris;
                    color: $color-gris;
                    display: block;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    height: 80px;
                    padding: 5px;
                    margin: 0;
                    width: 100%;
                }
                label{
                    display: block;
                    margin-bottom: 12px;
                    padding: 15px 10px 5px;
                    text-align: left;
                    &.error{
                        color: red;
                        font-style: italic;
                        position: relative;
                        text-align: left;
                        display: block;
                        font-size: 12px;
                        margin: 0;
                        padding: 0;
                        text-transform: none;
                    }
                    span{
                        color: #8E8E8E;
                        @media screen and (min-width: $breakpoint-tablet){
                            display: block;
                        }
                    }
                    &.label-placeholder{
                        position: relative;
                        .placeholder{
                            position: absolute;
                            top: 58%;
                            left: 15px;
                            color: rgba($color-gris, 0.5);
                            display: block;
                            font-family: 'Montserrat', sans-serif;
                            font-size: 14px;
                            pointer-events: none;
                            white-space: nowrap;
                            @include transition(all .2s linear);
                            @include transform(translateY(-50%));
                            
                        }
                        &.active{
                            .placeholder{
                                top: 5px;
                            }
                        }
                    }
                    &.label-placeholder-textarea{
                        .placeholder{
                            top: 20px;
                            @include transform(translateY(0));
                        }
                        &.active{
                            .placeholder{
                                top: -5px;
                            }
                        }
                    }
                }
                .locations{
                    display: block;
                    @media screen and (min-width: $breakpoint-tablet){
                        display: inline-block;
                        width: 48%;
                    }
                    span{
                        display: inline;
                        padding: 0 5px;
                    }
                }
                select{
                    background-color: transparent;
                    border: 2px solid $color-gris;
                    border-radius: 5px;
                    display: block;
                    margin-top: 6px;
                    padding: 6px 10px;
                    width: 100%;
                    appearance: none;
                    -webkit-appearance: none;
                    @media screen and (min-width: $breakpoint-tablet){
                        margin-left: 18px;
                        margin-top: 6px;
                        display: inline-block;
                        width: auto;
                    }
                }
                button, input[type=submit]{
                    background-color: $color-azul;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    color: $color-blanco;
                    display: inline-block;
                    font-family: 'Louis';
                    font-size: 18px;
                    margin-top: 20px;
                    padding: 10px 15px;
                    text-transform: uppercase;
                    width: 100%;
                    @include transition(all .2s linear);
                    @media screen and (min-width: $breakpoint-tablet){
                        padding: 10px 45px;
                        width: auto;
                    }
                    &.disabled{
                        background-color: rgba($color-azul, 0.5);
                        pointer-events: none;
                    }
                    &:hover{
                        background-color: rgba($color-azul, 0.85);
                    }
                }
                .selectize-input{
                    border: 2px solid $color-gris;
                }
                ::-webkit-input-placeholder{color: $color-gris;}
                :-moz-placeholder{color: $color-gris;}
                :-ms-input-placeholder{color: $color-gris;}
                ::-ms-input-placeholder{color: $color-gris;}
                ::placeholder{color: $color-gris;}
                .registration-form-terms{
                    color: $color-gris-medio;
                    padding: 10px 0;
                    margin: 10px 0 0;
                    font-size: 14px;
                    line-height: 1.4;
                    text-align: left;
                }
                .registration-form-contact{
                    padding: 10px 0;
                    margin: 0;
                    span{
                        color: $color-gris-medio;
                        display: block;
                        font-size: 12px;
                        line-height: 1.4;
                        text-align: left;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}