/*=============================================================*/
/* FOOTER */
/*=============================================================*/
.overlay-PQR{
    background-color: rgba($color-blanco, 0.75);
    bottom: 0;
    display: none;
    left: 0;
    margin: 0 auto;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 10;
    .modal-body{
        background-color: #FBFBFB;
        border: 1px solid rgba(#4E4E50, 0.5);
        border-bottom: 25px solid #4E4E50;
        border-radius: 5px;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        padding: 20px;
        position: absolute;
        top: 35%;
        visibility: hidden;
        width: 92%;
        max-width: 450px;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
        -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
        @include transform(translateY(-50%));
        @include transition(all .2s linear);
        @media screen and (min-width: $breakpoint-tablet){
            padding: 20px 40px;
        }
        &.show-modal{
            top: 50%;
            opacity: 1;
            visibility: visible;
        }

    }
    .model-content{
        p{
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.2;
            margin: 0 0 10px;
            @media screen and (min-width: $breakpoint-tablet){
                font-size: 20px;
            }
        }
        span{
            color: #4E4E50;
        }
        .radicado{
            background-color: #fff;
            border: 1px solid rgba(#4E4E50, 0.8);
            color: #4E4E50;
            font-size: 16px;
            font-weight: 700;
            margin: 15px 0;
            padding: 10px;
            text-transform: uppercase;
            text-align: center;
        }
        .action{
            text-align: center;
            button, input[type=submit]{
                background-color: $color-azul;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                color: $color-blanco;
                display: inline-block;
                font-family: 'Louis';
                font-size: 18px;
                margin: 0 auto;
                padding: 10px 15px;
                text-transform: uppercase;
                width: 100%;
                @include transition(all .2s linear);
                @media screen and (min-width: $breakpoint-tablet){
                    padding: 10px 45px;
                    width: auto;
                }
                &.disabled{
                    background-color: rgba($color-azul, 0.5);
                    pointer-events: none;
                }
                &:hover{
                    background-color: rgba($color-azul, 0.85);
                }
            }
        }
    }
    
    .close{
        background-color: #4D4D4F;
        border-radius: 50%;
        color: $color-blanco;
        cursor: pointer;
        font-family: 'Louis';
        line-height: 2;
        height: 30px;
        right: -12px;
        position: absolute;
        padding: 0;
        top: -12px;
        text-align: center;
        width: 30px;
    }
}
footer{
    background: url('../../images/line-footer.png') repeat-x center top transparent;
    padding: 25px 0 0;
    &.no-border{
        background-image: none;
    }
    .footer-brand{
        padding: 0 30px;
        margin-bottom: 40px;
    }
    .terms{
        padding: 0 15px;
        @media screen and (min-width: $breakpoint-tablet) and (orientation: landscape){
            margin: 0 auto;
            width: 80%;
            max-width: 1400px;
        }
        p{
            color: $color-gris;
            font-size: 12px;
            text-align: justify;
            a{
                display: inline-block;
                color: $color-azul;
                font-weight: 700;
            }
            &.copyright{
                margin-top: 15px;
                text-align: center;
            }
        }
    }

}