/*=============================================================*/
/* Fuentes */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

@font-face {
  font-family: 'Louis';
  src: url('../../fonts/Louis-BoldItalic.eot');
  src: url('../../fonts/Louis-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Louis-BoldItalic.woff2') format('woff2'),
      url('../../fonts/Louis-BoldItalic.woff') format('woff'),
      url('../../fonts/Louis-BoldItalic.ttf') format('truetype'),
      url('../../fonts/Louis-BoldItalic.svg#Louis-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}