/*=============================================================*/
/* SASS GLOBALES */
*:focus{
    outline: none !important;
}
*,::after,::before {
	box-sizing:border-box;
}
html{
	box-sizing: border-box;
}
body, html {
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	border: 0;
	outline: 0;
	font-size: 14px;
}
img{
	display: block;
	height: auto;
	margin: 0 auto;
	width: auto;
	max-width: 100%;
}
.responsiveContainer {
    max-width: 1440px;
    margin: 0 auto;
    padding:0 15px;  
    position: relative;
	width: 100%;
	@include screen-small{
		padding: 0 10px;
	}
}
ul{
	margin: 0;
	padding: 0;
	list-style: outside none;
}
figure {
	margin: 0;
}
a, a:hover, a:visited {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
input {
	box-shadow: none;
}


// -------------------------------------------------------------
// Encabezados
h1 {
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	font-weight: 600;
}
h2 {
	font-size: 25px;
	line-height: 35px;
	text-align: center;
	font-weight: 600;
}
h3 {
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	font-weight: 600;
}