/*=============================================================*/
/* MIXINS */
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin transform($args...) {
    -webkit-transform: $args;
    -moz-transform: $args;
    -ms-transform: $args;
    -o-transform: $args;
    transform: $args;
}

@mixin rotate($grados){
    -webkit-box-transform:rotate($grados);
    -webkit-transform:rotate($grados);
    -moz-transform:rotate($grados);
    -o-transform:rotate($grados);
    transform:rotate($grados);
}

@mixin animation($args...) {
    -moz-animation: $args;
    -webkit-animation: $args;
    animation: $args;
}

/*** FLEX HELPERS ***/
@mixin flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: box;
    display: flex;
}

@mixin justify-content($values) {
    -webkit-box-justify-content: $values;
    -moz-box-justify-content:  $values;
    -webkit-justify-content:  $values;
    -ms-justify-content:  $values;
    justify-content:  $values;
}

@mixin align-items($values) {
    -webkit-box-align-items: $values;
    -moz-box-align-items:  $values;
    -webkit-align-items:  $values;
    -ms-align-items:  $values;
    align-items:  $values;
}

@mixin flex-wrap($values) {
    -webkit-box-flex-wrap: $values;
    -moz-box-flex-wrap:  $values;
    -webkit-flex-wrap:  $values;
    -ms-flex-wrap:  $values;
    flex-wrap:  $values;
}

@mixin flex-basis($values) {
    -webkit-flex-basis:$values;
    flex-basis: $values;
    -ms-flex:$values;
}

@mixin order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;  
    order: $val;
}

/*** /. END FLEX HELPERS ***/

/*** MEDIA QUERIES ***/

@mixin screen-small {
    @media only screen and (max-width: 767px){
        @content;
    }
}

@mixin screen-small-land {
    @media only screen and (max-width: 767px) and (orientation: landscape){
        @content;
    }
}

@mixin screen-mediun {
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

@mixin screen-medium-port {
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
        @content;
    }
}

@mixin screen-medium-land {
    @media only screen and (min-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        @content;
    }
}

// -------------------------------------------------------------
//  Mixin para generar prefijos en la propiedad.
//	Basado en Shopify Slate.
//  Modo de uso (Sass):
//    .element {
//      @include prefix-prop(transform, scale(1), ms webkit spec);
//    }
//	Resultado (CSS):
//    .element {
//      -ms-transform: scale(1);
//      -webkit-transform: scale(1);
//      transform: scale(1);
//    }
// -------------------------------------------------------------
@mixin prefix-prop($property, $value, $prefixes) {
	@each $prefix in $prefixes {
		@if $prefix == webkit {
			-webkit-#{$property}: #{$value};
		} @else if $prefix == moz {
			-moz-#{$property}: #{$value};
		} @else if $prefix == ms {
			-ms-#{$property}: #{$value};
		} @else if $prefix == o {
			-o-#{$property}: #{$value};
		} @else if $prefix == spec {
			#{$property}: #{$value};
		} @else  {
			@warn 'Unrecognized prefix: #{$prefix}';
		}
	}
}

// -------------------------------------------------------------
//  Mixin para generar prefijos en el valor de la propiedad.
//  Basado en Shopify Slate.
//  Modo de uso (Sass):
//    .element {
//      @include prefix-prop(display, flex, ms webkit spec);
//    }
//  Resultado (CSS):
//    .element {
//      display: -ms-flex;
//      display: -webkit-flex;
//      display: flex;
//    }
// -------------------------------------------------------------
@mixin prefix-val($property,$value,$prefixes) {
	@each $prefix in $prefixes {
		@if $prefix == webkit {
			#{$property}: -webkit-#{$value};
		} @else if $prefix == moz {
			#{$property}: -moz-#{$value};
		} @else if $prefix == ms {
			#{$property}: -ms-#{$value};
		} @else if $prefix == o {
			#{$property}: -o-#{$value};
		} @else if $prefix == spec {
			#{$property}: #{$value};
		} @else  {
			@warn 'Unrecognized prefix: #{$prefix}';
		}
	}
}

// -------------------------------------------------------------
//  Mixin para generar prefijos en la regla keyframes.
//  Basado en mixin de Josh Broton. Modificado por Andrés Rodríguez
//  Modo de uso (Sass):
//    @include keyframes (animacion, ms webkit spec) {
//			0%   { left: 100px; }
//			100% { left: 200px; }
//		}
//  Resultado (CSS):
//    @-ms-keyframes move-the-object {
//		  0%   { left: 100px; }
//		  100% { left: 200px; }
//		}
//		@-webkit-keyframes move-the-object {
//		  0%   { left: 100px; }
//		  100% { left: 200px; }
//		}
//		@keyframes move-the-object {
//		  0%   { left: 100px; }
//		  100% { left: 200px; }
//		}
// -------------------------------------------------------------
@mixin keyframes($animationName,$prefixes) {
	@each $prefix in $prefixes {
		@if $prefix == webkit {
			@-webkit-keyframes #{$animationName} {
				@content;
			}
		}
		@if $prefix == moz {
			@-moz-keyframes #{$animationName} {
				@content;
			}
		}
		@if $prefix == ms {
			@-ms-keyframes #{$animationName} {
				@content;
			}
		}
		@if $prefix == o {
			@-o-keyframes #{$animationName} {
				@content;
			}
		}
		@if $prefix == spec {
			@keyframes #{$animationName} {
				@content;
			}
		}
	}
}