/*=============================================================*/
/* COLORES */
$color-negro: #000000;
$color-blanco: #fff;
$color-azul: #004C99;
$color-gris: #4C4C4C;
$color-gris-tenue: #939393;
$color-gris-medio: #8E8E8E;
/*=============================================================*/
/* BREAKPOINTS */
$breakpoint-xsmobile: 636px;
$breakpoint-mobile: 636px;
$breakpoint-mobileland: 568px;
$breakpoint-tablet: 768px;
$breakpoint-tabletland: 1024px;
$breakpoint-desktop: 1024px;
$breakpoint-mddesktop: 1280px;
$breakpoint-bigdesktop: 1441px;